body {
  margin: 0px;
  background: url(../img/bg.png) top right no-repeat black;
}

#container > div {
  margin-left: 5vw;
  margin-right: 5vw;
}

#logo {
  max-width: 315px;
  padding-top: 50px;
}

#logo > img {
  width: 80%;
  height: auto;
}

#content {
  max-width: 890px;
  padding-top: 5vw;
}

@media screen and (max-device-width: 600px) and (max-device-height: 1000px) {
  #content {
    padding-top: 25vw;
  }
}

#content h1 {
  max-width: 760px;
  color: #f9f9f9;
  font-family: "Didact Gothic";
  font-size: 45px;
  line-height: 60px;
}

#content p {
  color: #f9f9f9;
  font-family: "Didact Gothic";
  font-size: 20px;
  line-height: 37px;
}

.rectangle {
  margin-left: 5px;
  margin-right: 5px;
  height: 34px;
  width: 245px;
  color: black;
  background-color: #f9f9f9;
}

#contact-us {
  padding-top: 5vw;
  padding-bottom: 50px;
}

#contact-us > span {
  height: 37px;
  width: 99px;
  color: #b7bfc5;
  font-family: "Didact Gothic";
  font-size: 22px;
  line-height: 37px;
}

.linkedin {
  padding-top: 15px;
  height: 27px;
  width: 27px;
}

.linkedin img {
  float: left;
}

.mail {
  text-decoration: none;
  padding-left: 10px;
  height: 37px;
  width: 163px;
  color: #ffffff;
  font-family: "Didact Gothic";
  font-size: 22px;
  line-height: 55px;
}
